<!-- START Custom High Fidelity Footer -->
<!-- Based on: `<HiFi-Developer-Website Repo>/src/shared/html/footer.ejs -->
<div class="footer">
    <div class="footer__inner">
        <div class="footer__top">
            <div class="footer__topSection footer__left">
                <a class="footer__logo" href="https://highfidelity.com/api/"></a>
                <a href="https://docs.highfidelity.com">API Docs</a>
                <a href="https://highfidelity.com/api/guides/">Guides</a>
                <a href="https://highfidelity.com/api/download/">Download</a>
                <p class="backToHome displayOnTabletOrSmaller">Back to <a href="https://highfidelity.com">HighFidelity.com</a></p>
            </div>
            <div class="footer__topSection footer__center">
                <p class="backToHome displayOnDesktopOrLarger">Back to <a href="https://highfidelity.com">HighFidelity.com</a></p>
                <a href="https://www.highfidelity.com/termsofservice">Terms of Service</a>
                <a href="https://www.highfidelity.com/privacy">Privacy Policy</a>
            </div>
            <div class="footer__topSection footer__right">
                <p>Our Spatial Audio API is currently in Alpha. If you have questions or need assistance, please email:</p>
                <a href="mailto:support@highfidelity.com">support@highfidelity.com</a>
            </div>
        </div>
        <div class="footer__bottom">
            <p>Copyright 2021 High Fidelity, Inc.</p>
        </div>
    </div>
</div>
<!-- END Custom High Fidelity Footer -->
